<!DOCTYPE html>
<html ng-app="longList">
<head>
	<title>Paper Dom</title>
	<script src="angular-1.3.1.js"></script>
	<script src="paperDom.js"></script>
	<script src="app.js"></script>

</head>
<body ng-controller="AppController">

	<button ng-click="generate()" type="">Generate list</button>

	<input type="text" ng-model="searchKey" placeholder="search..." />

	<div paper-dom style="max-height:500px; width:300px; overflow:auto;">
		<div>
			<ul>
				<span>Hello</span>
				<span>World</span>
				<li style="height:20px; border:1px black solid; margin-top:3px;" ng-repeat="item in collection | filter:searchKey track by item.title">
					<span>{{item.title}}</span>
					<span>{{item.price}}</span>
					<span>{{item.timestamp}}</span>
					<span>{{item.quantity}}</span>
					<span>{{item.available}}</span>
				</li>
			</ul>	
		</div>
		
	</div>

</body>
</html>